### EditorConfig is awesome: http://EditorConfig.org

root=true

[*]
charset=utf-8
# end_of_line=crlf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space
indent_size=2

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=2

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=2

[{*.jhm,*.xslt,*.xul,*.rng,*.jelly,*.xsl,*.xsd,*.ant,*.svg,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl,*.pom}]
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=2

[{*.mkd,*.md,*.markdown}]
indent_style=space
indent_size=4
